version: "3.9"

services:
  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "5000:5000"
    env_file:
      - ./auth-service/.env
    depends_on:
      - user-service
      - notification-service

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "5001:5001"
    env_file:
      - ./user-service/.env

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "5002:5002"
    env_file:
      - ./order-service/.env
    depends_on:
      - payment-service
      - delivery-service
      - notification-service

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "5003:5003"
    env_file:
      - ./payment-service/.env

  restaurant-service:
    build: ./restaurant-service
    container_name: restaurant-service
    ports:
      - "5004:5004"
    env_file:
      - ./restaurant-service/.env

  delivery-service:
    build: ./delivery-service
    container_name: delivery-service
    ports:
      - "5005:5005"
    env_file:
      - ./delivery-service/.env
    depends_on:
      - user-service
      - order-service
      - notification-service

  realtime-service:
    build: ./realtime-service
    container_name: realtime-service
    ports:
      - "5006:5006"
    env_file:
      - ./realtime-service/.env
    depends_on:
      - user-service
      - delivery-service

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "5007:5007"
    env_file:
      - ./notification-service/.env
